<%- layout('/layout/boilerplate') -%>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <h3 class="mb-4 text-center">Edit Listing</h3>
      <form
        method="post"
        action="/listings/<%= listing._id %>?_method=put"
        class="needs-validation row g-4"
        novalidate
        enctype="multipart/form-data"
      >

        <div class="col-md-4">
    <label for="title" class="form-label">Title</label>
    <input
      name="listing[title]"
      value="<%= listing.title %>"
      placeholder="add a catchy title"
      type="text"
      class="form-control"
      required
    />
    <div class="valid-feedback">Looks good</div>
    <div class="invalid-feedback">Please enter a valid title</div>
  </div>
  <div class="col-md-4">
    <label for="description" class="form-label">Description</label>
    <textarea
      name="listing[description]"
      type="text"
      class="form-control"
      required
    >
        <%= listing.description %>
      </textarea
    >
  </div>
  <div class="col-md-3 d-flex flex-column">
    <p>Current Image</p>
    <img src="<%= listing.image.url %>" />
  </div>
  <div class="col-md-4">
    <label for="image" class="form-label">Uplaod Image</label>
    <div class="input-group has-validation">
      <input
        name="listing[image]"
        type="file"
        class="form-control"
      />
      <div class="invalid-feedback">Enable to load image</div>
    </div>
  </div>
  <div class="col-md-4">
    <label for="price" class="form-label">Price</label>
    <input
      name="listing[price]"
      value="<%= listing.price %>"
      type="number"
      class="form-control"
      required
    />
    <div class="invalid-feedback">Enter price of stay</div>
  </div>
  <div class="col-md-4">
    <label for="city" class="form-label">City</label>
    <input
      name="listing[location]"
      value="<%= listing.location %>"
      type="text"
      class="form-control"
      required
    />
    <div class="invalid-feedback">Enter location</div>
  </div>
  <div class="col-md-3">
    <label for="country" class="form-label">Country</label>
    <input
      name="listing[country]"
      value="<%= listing.country %>"
      type="text"
      class="form-control"
      required
    />
    <div class="invalid-feedback">Please select a valid country.</div>
  </div>
        <div class="col-12 text-center">
          <button class="btn btn-primary mt-4 px-5" type="submit">Update Listing</button>
        </div>
      </form>
    </div>
  </div>
</div>